@import"./components/general" ;
@import"./components/header";
@import"./components/welcome";
@import "./components/about-us";
@import "./components/news";
@import "./components/review";
@import "./components/gallery";