.container-about-us{
        width: 1305px;
    border: 1px solid red;
    margin: 0 auto;
}


.paragraph-page {
    width: 820px;
    border: 1px solid black;

}


.about-us {
    width: 82px;
    height: 17px;
    color: #99823D;
    font-size: 11px;
    letter-spacing: 2.76px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: -57px;

}

.p-intro {
    font-family: "Teko", sans-serif;
    font-size: 53px;
    color: #141414;
    text-transform: capitalize;
    width: 655px;
    height: 106px;
    margin-left: 40px;
    

}

.about-us-paragraph-one {
 width: 683px;
 height: 51px ;
 margin-left: 40px;
 font-family: "Open Sans", sans-serif;
 font-size: 17px;
 color: #141414;


}

.about-us-paragraph-two {
    width: 684px;
    height: 102px;
    margin-left: 40px;
    font-family: "Open Sans", sans-serif;
     color: #141414;
     font-size: 17px;

}

