// .container {}

// .main-customers {}

.customers-list {
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding-left: 70px;
    gap: 117px;
    padding-left: 132px;
}

.customer-item {
    list-style: none;
}

.customer-item::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-color: #99823D;
    position: relative;
    top: -27px;
    left: -68px;
}

@media (max-width :430px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 60px;
        gap: 50px;
        padding-left: 0px;
        margin: 0 auto;
        width: 385px;
        border: 1px solid red;
        margin: 0 auto;
        justify-content: space-between;
    }

    .customer-item {
        list-style: none;
                margin: 0 auto;
    }

    .customer-item::after {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background-color: #99823d00;
        position: relative;
        top: -27px;
        left: -68px;
    }
}