.main-gallery {
    width: 1338px;
    margin-bottom: 40px;
    padding-bottom: 100px;
    margin-left: -37px;

}

.gallery-list {
    display: flex;
    // justify-content: space-between;
    list-style: none;
    gap: 36px;
    position: relative;
    left: 69px;
}

.gallery-item {
    width: 412px;
    position: relative;

}

.gallery-item-one {
    background-image: url("../../img/gallery/gallery-one.jpg");
    background-repeat: no-repeat;
    width: 412px;
    background-size: 412px;
    height: 275px;
}

.gallery-item-two {
    background-image: url("../../img/gallery/gallery-two.jpg");
    background-repeat: no-repeat;
    width: 412px;
    background-size: 412px;
    height: 275px;


}

.gallery-item-three {
    background-image: url("../../img/gallery/gallery-three.jpg");
    background-repeat: no-repeat;
    width: 412px;
    background-size: 412px;
    height: 275px;
}


.gallery-item-new {
    position: relative;
    width: 103px;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2.72px;

}

.gallery-title {
    font-family: "Teko", sans-serif;
    font-size: 26px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    padding: 20px 90px;
    width: 194px;
    position: absolute;
    bottom: -102px;
    left: 0px;
    text-align: center;
    z-index: 2;
}

.gallery-discription {
    width: 206px;
    position: relative;
    background-color: #99823D;
    color: white;
    font-family: "Open Sans", sans-serif;
    height: 99px;
    font-size: 11px;
    letter-spacing: 2.76px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    text-transform: uppercase;
    left: 203px;
    top: 204px;
    z-index: 1;

}







@media (max-width :430px) {
    .main-gallery {
        width: 1338px;
        margin-bottom: 40px;
        padding-bottom: 100px;
        margin-left: -37px;

    }

    .gallery-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 85px;
        padding-left: 0px;
        margin-left: -22px;

    }

    .gallery-item {
        width: 412px;
        position: relative;

    }

    .gallery-item-one {
        background-image: url("../../img/gallery/gallery-one.jpg");
        background-repeat: no-repeat;
        width: 409px;
        background-size: 412px;
        height: 275px;
    }

    .gallery-item-two {
        background-image: url("../../img/gallery/gallery-two.jpg");
        background-repeat: no-repeat;
        width: 409px;
        background-size: 412px;
        height: 275px;


    }

    .gallery-item-three {
        background-image: url("../../img/gallery/gallery-three.jpg");
        background-repeat: no-repeat;
        width: 409px;
        background-size: 412px;
        height: 275px;
    }


    .gallery-item-new {
        position: relative;
        width: 103px;
        background-color: black;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        color: white;
        text-align: center;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2.72px;

    }

    .gallery-title {
        font-family: "Teko", sans-serif;
        font-size: 26px;
        text-transform: capitalize;
        background-color: black;
        color: white;
        padding: 20px 90px;
        width: 194px;
        position: absolute;
        bottom: -102px;
        left: 0px;
        text-align: center;
        z-index: 2;
    }

    .gallery-discription {
        width: 206px;
        position: relative;
        background-color: #99823D;
        color: white;
        font-family: "Open Sans", sans-serif;
        height: 99px;
        font-size: 11px;
        letter-spacing: 2.76px;
        display: flex;
        justify-content: center;
        padding-top: 3px;
        text-transform: uppercase;
        left: 203px;
        top: 204px;
        z-index: 1;

    }
}