.header {

    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    border: 1px solid blue;
    // width: 1440px;
    height: 68px;
    position: relative;
}

.header-img-wrapper {
    display: flex;
}

.logo-img {
    width: 326px;
    height: 136px;
    margin-left: 40px;
}

.wrapper-architecture {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 35px;
    color: white;
      font-family: "Open Sans", sans-serif;
    white-space: nowrap;
    margin-top: 25px;
    font-size: 10px;
}

.span-architecture {
    display: flex;
    color: gray;
    gap: 10px;
      font-family: "Open Sans", sans-serif;
    height: 9px;
    font-size: 10px;
}

.heart-icon {
    width: 17px;
    height: 17px;
    margin-top: 21px;
    margin-left: 2px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 37px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    width: 559px;
    height: 33px;
    
}

.menu-item {
    margin-top: 7px;

}

.menu-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 11px;
}

.wrapper-header{
    display: flex;
    justify-content: space-between;
}