.news {
    width: 424px;
    height: 1px;
}

.news-list {}

.news-one {
    width: 424px;
    border: 1px solid orange;
    text-decoration: none;
    position: relative;
    left: 805px;
    top: -387px;

}

.news-two {
    width: 424px;
    border: 1px solid blue;
    position: relative;
    left: 805px;
    top: -387px;
}

.news-paragraph-one {
    width: 323px;
    font-family: "Teko", sans-serif;
    font-size: 26px;
    padding: 10px;
    text-transform: capitalize;
}

.news-paragraph-two {
    width: 323px;
    font-family: "Teko", sans-serif;
    font-size: 26px;
    padding: 10px;
    text-transform: capitalize;
}

.news-date {
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2.76px;
    text-decoration: none;
    width: 181px;
    padding: 10px;
    height: 8px;
}