.news {
    width: 424px;
    height: 1px;
}


.slide-in-bottom{
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.news-list {
    list-style: none;
    padding-left: 0;
}

.paragraph-flex-wrapper {
    display: flex;

}

.news-one {
    width: 424px;
    // border: 1px solid orange;
    text-decoration: none;
    height: 159px;
}


.news-two {
    width: 424px;
    // border: 1px solid orange;
    text-decoration: none;
    height: 159px;

}

.news-paragraph-one {

    font-family: "Teko", sans-serif;
    font-size: 26px;
    padding: 4px;
    text-transform: capitalize;
}

.news-paragraph-two {
    // width: 323px;
    font-family: "Teko", sans-serif;
    font-size: 26px;
    padding: 4px;
    text-transform: capitalize;
}

.news-date {
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2.76px;
    text-decoration: none;
    // width: 181px;
    padding: 5px;
    height: 8px;
}

@media (min-width :430px) and (max-width:767px) {
    .news {
        width: 424px;
        height: 1px;
    }

    .news-list {
        list-style: none;
        padding-left: 0;
    }

    .news-one {
        width: 170px;
        // border: 1px solid orange;
        text-decoration: none;
        // position: relative;
        // left: 219px;
        // top: -263px;
        height: 97px;
    }

    .news-two {
        width: 170px;
        // border: 1px solid blue;
        // position: relative;
        // left: 218px;
        // top: -262px;
        height: 100px;
    }

    .news-paragraph-one {
        // width: 323px;
        font-family: "Teko", sans-serif;
        font-size: 15px;
        padding: 0px;
        text-transform: capitalize;
    }

    .news-paragraph-two {
        // width: 323px;
        font-family: "Teko", sans-serif;
        font-size: 14px;
        padding: 1px;
        text-transform: capitalize;
    }

    .news-date {
        color: #99823D;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 8px;
        letter-spacing: 1.76px;
        text-decoration: none;
        // width: 181px;
        padding: 5px;
        height: 8px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {

    .news {
        width: 424px;
        height: 1px;
    }

    .news-list {
        list-style: none;
        padding-left: 0;
    }

    .paragraph-flex-wrapper {
        display: flex;

    }

    .news-one {
        width: 256px;
        // border: 1px solid orange;
        text-decoration: none;
        height: 125px;
    }


    .news-two {
        width: 256px;
        // border: 1px solid orange;
        text-decoration: none;
        height: 125px;
    }

    .news-paragraph-one {

        font-family: "Teko", sans-serif;
        font-size: 24px;
        padding: 2px;
        text-transform: capitalize;
        padding-top: 0px;
    }

    .news-paragraph-two {
        font-family: "Teko", sans-serif;
        font-size: 24px;
        padding: 2px;
        text-transform: capitalize;
        padding-top: 0px;
    }

    .news-date {
        color: #99823D;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        letter-spacing: 2.76px;
        text-decoration: none;
        padding: 2px;
        height: 0px;
    }

}