.review-list {
    display: flex;
    padding-left: 0;
    gap: 151px;
    justify-content: space-between;
    list-style: none;
    margin-left: 40px;
    margin-right: 60px;
}

.projects-item {
    width: 113px;

}

.projects-item::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-color: #99823D;
    position: relative;
    top: -68px;
    left: -78px;
}
 .projects-item:nth-child(1)::after {
  content: none !important;
}


.project-item-title {
    font-family: "Teko", sans-serif;
    font-size: 59px;
    width: 120px;
    color: black;
    margin-bottom: -23px;
}

.project-item-discription {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 2.97px;
    color: #99823D;
    text-transform: uppercase;
    text-align: center;
}


@media (min-width :430px) and (max-width:767px) {
    .review-list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        gap: 0px;
        justify-content: space-between;
        list-style: none;
        margin-left: 40px;
        margin-right: 60px;
    }

    .projects-item {
        // width: 113px;
        height: 135px;
        margin: 0 auto;
    }

    .projects-item::after {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background-color: #99823d00;
        position: relative;
        top: -68px;
        left: -78px;
    }
 


    .project-item-title {
        font-family: "Teko", sans-serif;
        font-size: 59px;
        width: 120px;
        color: black;
        margin-bottom: -23px;
    }

    .project-item-discription {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        letter-spacing: 2.97px;
        color: #99823D;
        text-transform: uppercase;
        text-align: center;
    }



}


@media (min-width:768px) and (max-width: 1023px) {
    .review-list {
             display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        gap: 77px;
        justify-content: center;
        list-style: none;
        margin-left: 40px;
        margin-right: 60px;
        /* column-gap: 68px; */
        row-gap: 3px;
    }

    .projects-item {
        width: 113px;

    }

    .projects-item::after {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background-color: #ffffff00;
        position: relative;
        top: -68px;
        left: -78px;
    }



    .project-item-title {
        font-family: "Teko", sans-serif;
        font-size: 59px;
        width: 120px;
        color: black;
        margin-bottom: -23px;
    }

    .project-item-discription {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        letter-spacing: 2.97px;
        color: #99823D;
        text-transform: uppercase;
        text-align: center;
    }

}