// .main-services {}

.services {
    width: 74px;
    font-family: "Open Sans", sans-serif;
    color: #99823D;
    letter-spacing: 2.76px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: regular;
}

.service-slogan {
    width: 801px;
    font-family: "Teko", sans-serif;
    font-size: 53px;
    color: #141414;
    font-weight: bold;
    margin: 0 auto;
    text-transform: capitalize;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    left: -20px;
}

.service-item {
    width: 391px;
    list-style: none;
}

.data {
    width: 43px;
    position: relative;
    top: -84px;
    left: 76px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2.76px;
    color: #99823D;
    font-weight: 500;


}

.service-item-title {
    width: 129px;
    position: relative;
    top: -103px;
    left: 75px;
    font-family: "Teko", sans-serif;
    font-size: 26px;
    color: #141414;
    font-weight: 400;

}

.service-item-discription {
    width: 292px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #141414;
    margin-top: -110px;
    margin-bottom: 75px;

}



.scale-down-center:hover{
    animation: scale-down-center 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}



.service-link {
    // margin: 0 auto;
    background-color: #99823D;
    color: white;
    text-transform: uppercase;
    width: 392px;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    
}

.service-link:hover{
    background-color: #675829;
}



@media (min-width :430px) and (max-width:767px) {
    .services {
        width: 74px;
        font-family: "Open Sans", sans-serif;
        color: #99823D;
        letter-spacing: 2.76px;
        font-size: 11px;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: regular;
    }

    .service-slogan {

        font-family: "Teko", sans-serif;
        font-size: 30px;
        color: #141414;
        font-weight: bold;
        width: 420px;
        margin: 0 auto;
        text-transform: capitalize;
        /* margin: 0 auto; */
        text-align: center;
    }

    .service-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        left: -20px;
    }

    .service-item {
        width: 193px;
        list-style: none;

    }

    .data {
        width: 43px;
        position: relative;
        top: -84px;
        left: 76px;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        letter-spacing: 2.76px;
        color: #99823D;
        font-weight: 500;


    }

    .service-item-title {
        width: 129px;
        position: relative;
        top: -103px;
        left: 75px;
        font-family: "Teko", sans-serif;
        font-size: 26px;
        color: #141414;
        font-weight: 400;

    }

    .service-item-discription {
        width: 180px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        color: #141414;
        margin-top: -110px;
        margin-bottom: 75px;
    }

    .service-link {
        // margin: 0 auto;
        background-color: #99823D;
        color: white;
        text-transform: uppercase;
        width: 392px;
        text-align: center;
        padding: 30px;
        text-decoration: none;
        letter-spacing: 2.97px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .services {
        width: 74px;
        font-family: "Open Sans", sans-serif;
        color: #99823D;
        letter-spacing: 2.76px;
        font-size: 11px;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: regular;
    }

    .service-slogan {
        width: 602px;
        font-family: "Teko", sans-serif;
        font-size: 48px;
        color: #141414;
        font-weight: bold;
        margin: 0 auto;
        text-transform: capitalize;
    }

    .service-list {
                display: flex;
        /* flex-direction: column; */
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        left: 27px;
        padding-left: 0px;
    
    }

    .service-item {
        width: 343px;
        list-style: none;
    }

    .data {
        width: 43px;
        position: relative;
        top: -84px;
        left: 76px;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        letter-spacing: 2.76px;
        color: #99823D;
        font-weight: 500;


    }

    .service-item-title {
        width: 129px;
        position: relative;
        top: -103px;
        left: 75px;
        font-family: "Teko", sans-serif;
        font-size: 26px;
        color: #141414;
        font-weight: 400;

    }

    .service-item-discription {
        width: 292px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        color: #141414;
        margin-top: -110px;
        margin-bottom: 75px;

    }

    .service-link {
               background-color: #99823D;
        color: white;
        text-transform: uppercase;
        width: 320px;
        text-align: center;
        padding: 30px;
        text-decoration: none;
        letter-spacing: 2.97px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        padding-left: -5px;
          margin-left: -69px;
    }

}